:root {
  --modCyan: hsl(176, 50%, 47%);
  --darkCyan: #147b74;
  --darkGray: rgb(122, 122, 122);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  border: none;
}

@font-face {
  font-family: Commissioner;
  src: url("./assets/static/Commissioner-Regular.ttf");
}
@font-face {
  font-family: "Commissioner Bold";
  src: url("/assets/static/Commissioner-Bold.ttf");
}

body {
  font-family: Commissioner, sans-serif;
  font-size: 16px;
  padding-bottom: 50px;
}
.top-container {
  position: relative;
}
#header-bg {
  width: 100%;
}
#close-menu {
  display: none;
}
.navbar {
  transform: scale(0);
  display: none;
}
.navbar.active {
  display: flex;
  flex-direction: column;
  transition: 300ms ease-in;
  position: fixed;
  top: 12%;
  left: 50%;
  width: 80%;
  z-index: 10;
  border-radius: 10px;
  transform: translateX(-50%) scale(1);
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 2px -1px black;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: inset 0 3px 10px -6px black;
}
header img:not(:first-child) {
  cursor: pointer;
}
/* active hamburger */
#hamburger.active {
  display: none;
}
#close-menu.active {
  display: block;
  position: relative;
  z-index: 13;
}
.navbar a {
  color: black;
  padding: 20px;
  font-size: 1.2em;
  font-weight: 700;
}
.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.navbar a:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#overlay {
  opacity: 0;
  position: fixed;
  transition: 300ms ease-in-out;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* hamburger ends */
main {
  margin: 0 auto;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  background-color: fafafa;
  width: 500px;
  max-width: 87%;
  border-radius: 10px;
  text-align: center;
}
img#mastercraft {
  transform: translateY(-50%);
}
.headings {
  font-family: "Commissioner Bold", sans-serif;
}
.light-text {
  color: var(--darkGray);
  font-size: 0.9em;
}
section {
  margin-bottom: 20px;
  padding: 0 1em;
  border: 1px solid #eee;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: white;
}
#monitor {
  font-size: 1.3em;
  margin-bottom: 20px;
}
#reduce-strain {
  margin-bottom: 20px;
}
.support {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.colored-btns {
  background-color: var(--modCyan);
  color: white;
  cursor: pointer;
}
.colored-btns:hover {
  background-color: var(--darkCyan);
}
#support-btn {
  width: 75%;
  height: 56px;
  border-radius: 30px;
  font-weight: 700;
}
#bookmark:hover {
  opacity: 0.8;
  cursor: pointer;
}
.bookmark-text,
#bookmark-act {
  display: none;
}
.bookmark-text.active {
  color: var(--darkCyan);
}
section#section-b {
  padding-top: 30px;
}
.stats .headings {
  font-size: 1.8em;
  margin-bottom: 10px;
}
hr.h-line {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 30%;
  height: 1px;
  background-color: rgba(122, 122, 122, 0.3);
}
#progress {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  margin-top: 30px;
  background-color: black;
  background-color: rgba(122, 122, 122, 0.15);
  overflow: hidden;
}
#inner-progress {
  width: 75%;
  height: 10px;
  border-radius: 20px;
  background-color: var(--modCyan);
}
section#section-c {
  padding-top: 30px;
  text-align: left;
}
#project {
  font-family: "Commissioner Bold", sans-serif;
  margin-bottom: 20px;
}
#section-c span {
  margin-bottom: 30px;
  display: block;
  line-height: 1.6;
}
.cards {
  padding: 1em;
  border: 1px solid #eee;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card-top .small-headings {
  font-family: "Commissioner Bold";
  margin-bottom: 10px;
}
.card-top .colored-headings {
  color: var(--modCyan);
  font-weight: 600;
  margin-bottom: 30px;
}
.cards p.light-text {
  line-height: 1.6;
  margin-bottom: 30px;
}
.card-bottom p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-bottom .stat-num {
  font-family: "Commissioner Bold", sans-serif;
  font-size: 2em;
  margin-right: 10px;
}
.card-bottom .colored-btns {
  height: 45px;
  width: 65%;
  border-radius: 30px;
}
.cards:last-child {
  opacity: 0.4;
}
.cards:last-child .colored-btns {
  background-color: var(--darkGray);
}

/* Modal styles for mobile start */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88%;
  z-index: 15;
  border-radius: 10px;
  padding: 30px 1.2em;
  background-color: white;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
}
.modal.active {
  transform: translate(-50%, -20%) scale(1);
}
#overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}
#overlay2.active {
  opacity: 1;
  pointer-events: all;
}
.modal-header {
  font-size: 1.2em;
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.modal-header .close-modal {
  font-size: 1.3em;
  padding: 10px;
  cursor: pointer;
  color: var(--darkGray);
}
.modal-body .light-text {
  line-height: 1.6;
}
#modal-cards {
  margin-top: 20px;
}
.modal-card {
  border: 1px solid #dcdcdc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.modal-card-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.pledge {
  border: 2px solid var(--darkGray);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}
.pledge-title {
  margin-left: 15px;
}
.modal-card p.small-headings {
  font-weight: 900;
  margin-bottom: 7px;
}
.modal-card p.colored-headings {
  color: var(--modCyan);
  font-weight: 600;
}
.modal-card .card-bottom {
  margin: 15px 0;
}
.modal-card:last-child {
  opacity: 0.4;
}

/* Modal styles for mobile end */

/* pseudo-tablet styles */
@media screen and (min-width: 650px) {
  body {
    background-color: #f1f1f1;
  }
  .overall-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  #header-bg {
    height: 500px;
    width: 100%;
  }
  main {
    width: 700px;
    max-width: 90%;
    margin-top: -70px;
  }
  section {
    padding: 0 1.5em 30px;
  }
  .card-bottom .colored-btns {
    width: 50%;
  }

  /* Modal styles for tablet start */
  .modal {
    width: 70%;
  }
  /* Modal styles for tablet end */
}

/* desktop styles */
@media screen and (min-width: 1100px) {
  body {
    font-size: 20px;
  }
  .overall-container {
    width: 100%;
    max-width: 100%;
  }
  #hamburger {
    display: none;
  }
  .navbar {
    margin-right: 50px;
    display: block;
    transform: scale(1);
  }
  .navbar a {
    color: white;
  }
  .navbar a:hover {
    text-decoration: underline;
  }
  .navbar a:not(:last-child) {
    margin-right: 0px;
  }
  main {
    margin-top: -90px;
    width: 720px;
    max-width: 60%;
  }
  section {
    padding: 0 30px 30px;
  }
  #reduce-strain {
    margin-bottom: 30px;
  }
  #support-btn {
    width: 30%;
  }
  .bookmark-text {
    display: block;
    padding: 20px 20px 20px 15px;
    font-weight: 900;
  }
  #bookmark {
    display: flex;
    align-items: center;
    color: var(--darkGray);
    border-radius: 30px;
    background-color: rgba(122, 122, 122, 0.1);
  }
  .stats {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  hr.h-line {
    transform: rotate(90deg);
    width: 10%;
    margin-left: 15px;
    margin-right: 20px;
  }
  .card-top,
  .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-bottom .colored-btns {
    height: 55px;
    width: 33%;
    font-size: 1em;
    font-weight: bold;
  }

  /* Modal styles for desktop start */

  .modal {
    width: 60%;
  }
  .modal.active {
    transform: translate(-50%, -12%) scale(1);
  }
  .modal-card {
    position: relative;
    padding: 30px 20px;
  }
  .modal-card-top {
    margin-bottom: 20px;
  }
  .pledge-title {
    display: flex;
    align-items: center;
  }
  .modal-card p.small-headings {
    margin-bottom: 0px;
  }
  .pledge-title .colored-headings {
    margin-left: 20px;
  }
  .modal-card .card-bottom {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: .8em;
  }
  .modal-card .card-bottom span.light-text {
    font-size: 1em;
  }
  .modal-card p.light-text {
    padding-left: 50px;
    /* margin-bottom: 30px; */
  }

  /* Modal styles for desktop end */
}
